.card .tag {
  transform: translateY(5.5mm);
  background-image: url('/paper4.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  z-index: 3;
  width: 43.7mm;
  height: 9.3mm;
  margin: 0 auto 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: 'Montserrat';
  font-weight: 700;
  font-size: 3.65mm;
  white-space: nowrap;
  margin-top: -9.6mm;
  filter: drop-shadow(0px 0px 5px rgba(0,0,0,0.25));
}

.card {
  z-index: 1;

  .card__caption {
    margin: auto;
    display: flex;
    justify-content: center;
    font-family: $text-font;
    font-weight: 400;
    align-items: center;
    text-align: center;
    max-width: 53.2mm;
    font-size: 8.5pt;
    width: 63.2mm;
    padding-top: 0.5mm;
    height: 6mm;
    line-height: 9pt;
  }
}

.card .card__inner {
  background-color: white;
  padding: 1.6mm;
  // box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.7);
}

.card.card__teacher-height {
  img {
    max-height: 40mm
  }
}

.card.card__teacher {
  img {
    width: 53.2mm;
    aspect-ratio: 1/1;
    object-fit: cover;
  }
  width: fit-content;
}

.card.card__teacher:not(:last-child), .card__poster {
  margin-bottom: 5mm;
}

.card.card.card__staff--plain > .card__inner:not(:last-child) {
  padding-bottom: 10mm;
}

.card.card__staff--plain {
  box-shadow: $shadow1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 8mm;
  width: 57mm;
  padding-bottom: 3mm;
  span {
    margin-bottom: 2.5mm;
    width: 100%;
    color: white;
    font-size: 10pt;
    font-family: $heading-font;
    font-weight: 700;
    text-align: center;
  }
  img {
    width: calc(53.2mm - 6mm);
    height: 54mm;
    aspect-ratio: 1/1;
    object-fit: cover;
  }

  background-color: var(--secondary);
  .card__inner {
    background: none;
  }
}

.card.card__class-photo {
  img {
    width: 53.2mm;
    height: 60mm;
    aspect-ratio: 2/1;
    object-fit: cover;
    object-position: center 0mm;
  }
  width: fit-content;
  margin-bottom: 5mm;
  
  .tag {
    background-size: 80%;
    transform: translateY(4.5mm);
    opacity: 0.97;
  }
}

.card__class-photo--double {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.text__card {
  display: flex;
  position: absolute;
  top: 30mm;
  left: -2mm;
  width: 120mm;
  height: 85mm;
  padding: 9mm;
  padding-top: 10mm;
  font-size: 8.5pt;
  line-height: 11.5pt;
  background-image: url(/paper1.png);
  background-size: 122mm 75mm;
  background-position: center;
  background-repeat: no-repeat;
  filter: drop-shadow(0px 2px 2px rgba(0, 0, 0, 0.5));
  align-items: center;
  
}

.centerText {
  text-align: center;
  width: 100%;
    align-items: center;
  display: flex;
  flex-direction: column;
}
.break {
  margin-bottom: 0.5mm;
  width: 1mm;
  height: 1mm;
  display: block;
}


.text__card--large {
  height: 190mm;
  top: 24mm;
  padding: 15mm;
  background-image: url(/paper7.png);
  background-size: 128mm 174mm;
}

.tableText__card.tableText__card--long {
  height: 257mm;
  background-size: 95mm 266mm;
  background-image: url(/paper6.png);
  justify-content: center;
  padding: 5mm 6mm 10mm 6mm;
}

.tableText__card {
  width: 95mm;
  height: 140mm;
  padding: 5mm 6mm 10mm 6mm;
  background-image: url('/paper5.png');
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
  filter: drop-shadow(0px 1px 1px rgba(0, 0, 0, 0.5));
  display: flex;
  flex-direction: column;
  align-items: center;
  .question {
    width: 100%;
    text-align: center;
    font-weight: 600;
    font-size: 13pt;
    text-transform: uppercase;
    color: var(--primary);
    margin-bottom: 1.5mm;
  }

  .table {
    font-weight: 400;
    font-size: 7.8pt;
    line-height: 11pt;
    color: #221E1F;
    width: 100%;
    padding: 0 7mm;

    .table__row {
      border-style: dotted;
      border-color: #A8A9AC;
      border-image-source: url("/dots.svg");
      border-image-slice: 33% 33%;
      border-image-repeat: round;
      border-top: dotted #A8A9AC;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      width: 100%;
      margin-bottom: 0.5mm;
      .table__cell {
        width: 50%;
        text-align: center;
      }
    }
    .table__row:last-child {
      border-bottom: dotted #A8A9AC;
    }
  }
}

.classOfCard {
  border: solid;
  width: 100%;
  height: 58mm;
  display: flex;
  flex-direction: column;
  @apply border border-[#becb30];

  .classOfCard__profile {
    display: flex;
    flex-direction: row;

    .classOfCard__profile--text {
      display: flex;
      flex-direction: column;
      justify-content: center;
      font-family: $text-font;
      font-size: 8.5pt;
      font-weight: 600;
      color: #1d398d;
      gap: 6mm;
      span {
        line-height: 9pt;
      }
    }
  }

  img {
    width: 25mm;
    height: 25mm;
    object-fit: cover;
    margin: 2mm;
  }
}

.classOfCard__questions {
  font-family: $text-font;
  flex-direction: column;
  display: flex;
  height: 100%;
  margin: 0 2mm 2mm 2mm;
  font-size: 6pt;

  .classOfCard__questions_row {
    padding: 0.75mm 1.5mm;
    line-height: 7.5pt;
    border-top: solid 1px;
    height: 100%;
    display: grid;
    grid-template-columns: 20mm 1fr;
    align-items: center;
    gap: 2mm;
  }

  .classOfCard__questions_row:last-child {
    border-bottom: solid 1px;
  }
}

.deputyQuote {
  font-family: $text-font;
  font-weight: bold;
  padding: 1mm;
  max-width: 105mm;
  text-align: center;
  position: absolute;
  top: (32mm + 3.7mm);
  left: 1.3mm;

  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--secondary);

  .img {
    width: 11mm;
    margin-bottom: 1mm
  }
}

.teamTextCard {
  @apply w-[270mm] h-[112mm] bg-[url(/paper9.png)] relative left-[-15mm] top-[47mm] bg-no-repeat bg-[length:212mm_112mm];
  font-family: $text-font; 
}

.photo {
  width: 25mm;
  height: 25mm;
  object-fit: cover;
}

.longBreak .break {
  height: 3mm;
}

h1 {
  font-size: 15pt;
  color: #6D6F71;
  font-weight: 500;
  font-style: italic;
  font-family: $text-font;
  line-height: 1.2;
  text-align: center;
}

h2 {
  font-weight: 500;
  font-size: 10pt;
  margin: 1mm !important;
  font-style: italic;
  font-family: $text-font;
}