
.page {
  margin: 4.4mm;
  height: calc(12.28in - 4.4mm*2);
  background-color: var(--bg);
  page-break-after: always;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.page__content {
  height: 288mm;
  width: 180.9mm;
  margin: 0 auto;
  z-index: 10;
  position: relative;
}