.prep {
  --bg: #FEE1E7;
  --primary: #F06787;
}

.yr1 {
  --primary: #F4964F;
  --bg: #FDEADD;
}

.yr2 {
  --bg: #F9F2DB;
  --primary: #E5B940;
}

.yr3 {
  --bg: #E8F2E0;
  --primary: #8BBE64;
}

.yr4 {
  --primary: #49A09B;
  --bg: #DCEDEB;
}

.yr5 {
  --primary: #4C6893;
  --bg: #DBE1EA;
}

.yr6 {
  --primary: #965C79;
  --bg: #EBDFE4;
}

$pageBg: #FEE1E7;
$pagePrimary: #F06787;